@import "../../spacing.less";
@import "../../colors.less";

.image-link {
    @imageWidth: 100px;
    @containerWidth: 250px;
    text-align: center;
    padding: 10px;
    
    width: @containerWidth;
    display: inline-block;
    
    :hover, :active {
        text-decoration: none;
        
        img {
            transform: scale(0.9);
        }
        
    }
    a {
        height: 0;
    }
    
    p {
        color: @optionalTextColor;
    }
    
    h3 {
        margin: 0;
    }
    
    img {
        height: @imageWidth;
        margin-left: auto;
        margin-right: auto;
        display: block;
        padding: @baseSpacing;
        
        transition: all .3s ease-out;
    }
}